<!--Forgot Password Starts-->
<section id="forgot-password">
  
	<div style="text-align:left" class="login-container">	

	
	<img src="../assets/Logo-4x.png" alt="inclusive Web logo" class="logo">
	  <h3>Password Recovery</h3>

	
<p>Lorem ipsum dolor sit amet, conse cter adipi sicing elit, sed do eiusmod temp.</p>

	<input type="text" name="Email" class="form-field" placeholder="Enter email"/>
	
		<button [routerLink]="['/login']" class="btn-left btn-secondary">Cancel</button>
        <button [routerLink]="[]" class="btn-right btn-primary">Send</button>
      
	
</div> 
	
</section>
<!--Forgot Password Ends-->
