<!--Login Page Starts-->
<section class="login">
	
  <div style="text-align:left" class="login-container">
	
	  <img src="../assets/Logo-4x.png" alt="inclusive Web logo" class="logo">
		
	  <h3>Sign In</h3>
	  
		  <input placeholder="Username" class="form-field">
		  <input placeholder="Password" class="form-field">
	      <button [routerLink]="[]" class="btn btn-primary">Sign In</button>
	  
      <div class="form-group">    
	  <a class="btn btn-link1" [routerLink]="['/forgot-password']">Forgot Password</a>
	  <a class="btn btn-link2" [routerLink]="['/register']">Sign up</a>
	  </div><!-- end form group-->

	  
  </div><!--end login container-->
</section>
<!--Login Page Ends-->
