<!--Registration Page Starts-->
<section id="registration">
  
	<div style="text-align:left" class="login-container">	

	
	<img src="../assets/Logo-4x.png" alt="inclusive Web logo" class="logo">
	  <h3>Register</h3>

	

	<input type="text" name="Fname" class="form-field" placeholder="First name"/>
	<input type="text" name="Lname" class="form-field" placeholder="Last name"/>
	<input type="text" name="Email" class="form-field" placeholder="Email"/>
	<input type="text" name="Password" class="form-field" placeholder="Password"/>
	
		<button [routerLink]="['/login']" class="btn-left btn-secondary">Cancel</button>

        <button [routerLink]="[]" class="btn-right btn-primary">Register</button>
      
	
</div> 
	
</section>
<!--Registration Page Ends-->
