//variables
$bgColor : #EBF1F9;
$white: #fff;
$orange: #D47500;
$black: #000;
$purple:#9B59B6;
$blue: #007FAA; //used on buttons and links
$ltblue: #2E96B9; //primary button hover color
$lightestBlue: #D0E7EF; // secondary button hover color
$gunmetal: #2E343B; //header color

$buttonBorder:2px solid $blue;

$baseFontSize: 16px;
$titleFontFamily: "Hind", sans-serif;
$bodyFontFamily: "Open Sans", sans-serif;

